SUPPORTED_CURRENCIES=# Lista de moedas suportadas, separadas por vírgula

#Todos os valores devem ser preenchidos com os dados do ambiente de desenvolvimento
# Persistência: PostgreSQL Local
DB_HOST=# Host do banco de dados
DB_PORT=# Porta do banco de dados
DB_USER=# Usuário do banco de dados
DB_PASSWORD=# Senha do banco de dados
DB_NAME=# Nome do banco de dados
DB_SSLMODE=# Modo de segurança do banco de dados (disable,enable)

# Mensageria: AWS SQS Local (LocalStack)
AWS_REGION=# Região do AWS SQS
SQS_ENDPOINT=# Endpoint do AWS SQS
WAGER_QUEUE_URL=# URL da fila de transações de apostas

# Autenticação: Keycloak Local (LocalStack)
IDP_ISSUER_URL=# URL do issuer do Keycloak
IDP_JWKS_URL=# URL dos JWKS do Keycloak
